<div class="slider--<%=skinName%>"> <!-- Оболочка для модифицированных стилей слайдера -->
    <style><%= style %></style>

    <div class="slider--<%=skinName%>__frames js-slider__frames">
        <div class="slider--<%=skinName%>__frames__nav--prev js-slider__frames__prev"></div>
        <div class="slider--<%=skinName%>__frames__nav--next js-slider__frames__next "></div>
        
        <div class="slider--<%=skinName%>__frames__overflow js-slider__frames__overflow">
            <ul class="slider--<%=skinName%>__frames__list js-slider__frames__list">
                <% for (var i = 0; i < frames.length; i++) { %>
                    <li class="slider--<%=skinName%>__frames__item js-slider__frames__item">
                        <%= frames[i] %>
                        <span class="slider--<%=skinName%>__frames__item__fullscreen js-slider__frames__item__fullscreen"></span>
                    </li>
                <% } %>
            </ul>
        </div>
    </div> <!-- slider__frames -->
</div>